#
# Storj version to checkout
#
# eg:
# export VERSION=v1.46.3

#
# Is the target a testing or production environment.
# Possible values: test|prod
# 
# eg:
# export TARGET=test

#
# Which network should be set in /etc/netplan
#
# eg:
# export NETWORK=192.168.122

#
# Whether the initial disclaimer shall be displayed or not.
# Possible values: false|true
#
# eg:
# export SKIP_INTRO=flase

#
# allocated disk space in GB:
export allocated_disk_space=30

#
# minimum_disk_space otherwise the node does not even start (set mainly for testing purposes):
export minimum_disk_space=1

#
# The wallet to be configured in Storj's config.yml
#
# eg:
# export operator_wallet=0xNOREALWALLET4E9FE2294Fca6C2E7117Ad

#
# The password to assign to the user storj
#
# NOTE: the encrypted password can be generated in different ways,
# using ansible too. A simple way is to run the following command:
#
# openssl passwd -salt '12345' -1 'storage4data'
#
# eg:
# export STORJPWD=$0$20220120$sbraSlB2gKZzazQn71Jd4!
